= form_tag list_projects_path, method: :post  do
  %span{style: 'padding-right: 10px'} Department
  - if @params
    = select_tag 'department', options_from_collection_for_select(Department.all.to_a, 'id', 'name')
  - else
    = select_tag 'department', options_from_collection_for_select(Department.all.to_a, 'id', 'name', @params[:department])

  %span Parameter
  - if @params
    = select_tag 'parameter', parameter_options
  - else
    = select_tag 'parameter', parameter_options(@params[:parameter])
  %span Range
  - if @params
    = text_field_tag 'start_value', 0
  - else
    = text_field_tag 'start_value', (@params[:start_value] or 0)
  %span To
  - if @params
    = text_field_tag 'end_value', 100 
  - else
    = text_field_tag 'end_value', (@params[:end_value] or 100)
  %br
  = submit_tag 'Search'

%h1 Show Projects

#map_canvas
  = gmaps("map_options" => { "auto_zoom" => false, "type" => "ROADMAP", "zoom" => 12, "detect_location" => true, "center_on_user" => true, "auto_adjust" => true},"markers" => { "data" => @projects.to_gmaps4rails })
#charts

%button#ajax{type: "button"} Load Map


= link_to 'New Project', new_project_path

%table.tablei#myTable
  %tr
    %th Name
    %th Created at
    %th Description
    %th Latitude
    %th Longitude
    %th Salinity
    %th Temperature
    %th Oxygen
    %th Saturation
    -#%th
    -#%th
    -#%th
  - @projects.each do |project|
    %tr
      %td 
        = project.name
      %td
        = project.created_at
      %td
        = project.description
      %td
        = project.location.first
      %td
        = project.location.last
      %td
        = project.salinity
      %td
        = project.temperature
      %td
        = project.oxygen
      %td 
        = project.saturation
      -#%td
        -#= link_to 'Show', project
      -#%td
        -#= link_to 'Edit', edit_project_path(project)
      -#%td
        -#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
%script{src: 'http://code.highcharts.com/highcharts.js'}
