<h1>Show Projects</h1>
<br />
<div id='map_canvas'>
</div>
<%=gmaps("map_options" => { "auto_zoom" => false, "type" => "ROADMAP", "zoom" => 12, "detect_location" => true, "center_on_user" => true, "auto_adjust" => true},"markers" => { "data" => Project.all.to_gmaps4rails }) %>
<button type="button" id="ajax">Load Map</button>

<%= link_to 'New Project', new_project_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.created_at %></td>
      <td><%= project.description %></td>
      <td><%= project.location%></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<script type="text/javascript" charset="utf-8">
var fetch_location = function(pos) {
  $.ajax({
    type: 'get',
    url: "/projects/fetch",
    data: {lat: pos.lat(), lng: pos.lng()}
  }).done(function(msg){
    alert("Project info: " + msg);
  });
};
Gmaps.map.HandleDragend = function(pos) {
  fetch_location(pos);
  var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      alert("Project Address: " + responses[0].formatted_address);
    } else {
      alert('Cannot determine address at this location.');
    }
  });
};

Gmaps.map.callback = function() {
  for (var i = 0; i <  this.markers.length; ++i) {
     google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function() { Gmaps.map.HandleDragend(this.getPosition()) });
  }
};
</script>
